<div id='about' class='modal hidden'>
  <div id='aOver' class='overlay'></div>
  <div class='popup abt'>
    <div class='close' id='closeabout'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>about</div><hr>
      <img src="/images/headshot.png" align='left' id = 'headshot'>
      <p>Hello! I'm Rebecca. I'm a sophomore at MIT majoring in computer science / minoring in music. <br><br> I'm currently involved with the Opera of the Future group at the MIT Media Lab, where asfjawoierweirwe lskfjsl difj s</p>
    </div>
  </div>
</div>

<div id='projects' class='modal hidden'>
  <div id='pOver' class='overlay'></div>
  <div class='popup proj'>
    <div class='close' id='closeprojects'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>projects</div><hr>
      <p>things i hev made</p>
    </div>
  </div>
</div>

<div id='education' class='modal hidden'>
  <div id='eOver' class='overlay'></div>
  <div class='popup edu'>
    <div class='close' id='closeeducation'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>education</div><hr>
      <p>LLolOLolol</p>
    </div>
  </div>
</div>

<div id='contact' class='modal hidden'>
  <div id='cOver' class='overlay'></div>
  <div class='popup con'>
    <div class='close' id='closecontact'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>contact</div><hr>
      <div id='contactLinks'>
        <a href="https://github.com/rweinberger" target="_blank">
          <img src="/images/github.png" class = 'contactIcon'>
        </a>
        
        <a href="https://www.linkedin.com/in/rebecca-weinberger-a40934b0/" target="_blank">
          <img src="/images/linkedin.png" class = 'contactIcon'>
        </a>

        <a href="mailto:rew@mit.edu" >
          <img src="/images/email.png" class = 'contactIcon'>
        </a>
        <p>Rebecca Weinberger <br> 362 Memorial Drive, Room 332 <br> Cambridge, MA 02139</p>
      </div>
    </div>
  </div>
</div>