<div id='about' class='modal hidden'>
  <div id='aOver' class='overlay'></div>
  <div class='popup'>
    <div class='pContent'>
      about
      <div class='close'>&#10005;</div>
    </div>
  </div>
</div>

<div id='projects' class='modal hidden'>
  <div id='pOver' class='overlay'></div>
  <div class='popup'>
    <div class='pContent'>
      projects
      <div class='close'>&#10005;</div>
    </div>
  </div>
</div>

<div id='education' class='modal hidden'>
  <div id='eOver' class='overlay'></div>
  <div class='popup'>
    <div class='pContent'>
      education
      <div class='close'>&#10005;</div>
    </div>
  </div>
</div>

<div id='contact' class='modal hidden'>
  <div id='cOver' class='overlay'></div>
  <div class='popup'>
    <div class='pContent'>
      contact
      <div class='close'>&#10005;</div>
    </div>
  </div>
</div>