<div id='about' class='modal hidden'>
  <div id='aOver' class='overlay'></div>
  <div class='popup'>
    <div class='close'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>about</div><hr>
      <p>lol lmao hi i m rebecca </p>
    </div>
  </div>
</div>

<div id='projects' class='modal hidden'>
  <div id='pOver' class='overlay'></div>
  <div class='popup'>
    <div class='close'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>projects</div><hr>
      <p>things i hev made</p>
    </div>
  </div>
</div>

<div id='education' class='modal hidden'>
  <div id='eOver' class='overlay'></div>
  <div class='popup'>
    <div class='close'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>education</div><hr>
      <p>LLolOLolol</p>
    </div>
  </div>
</div>

<div id='contact' class='modal hidden'>
  <div id='cOver' class='overlay'></div>
  <div class='popup'>
    <div class='close'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>contact</div><hr>
      <p>m email is violinbeasis</p>
    </div>
  </div>
</div>