<div id='abt' class='modal hidden'>
  <div id='aOver' class='overlay'></div>
  <div class='popup abt'>
    <div class='close' id='closeabout'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>about</div><hr>
      <img src="/images/headshot2.png" align='left' id = 'headshot'>
      <p>Hello! I'm Rebecca. I'm a sophomore at MIT majoring in computer science / minoring in music. <br><br> I'm currently involved with the Opera of the Future group at the MIT Media Lab, where asfjawoierweirwe lskfjsl difj s</p>
    </div>
  </div>
</div>

<div id='proj' class='modal hidden'>
  <div id='pOver' class='overlay'></div>
  <div class='popup proj'>
    <div class='close' id='closeprojects'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>projects</div><hr>
      <p>
        <h3>> <a href="https://github.com/6851-2017/dynamic-optimality" target = "_blank">dynamic optimality</a></h3>
        Final project for 6.851 Advanced Data Structures. Implementation of Iacono's Working Set structure along with visualization and runtime comparisons. 
      </p>
      <p>
        <h3>> <a href="https://github.com/rweinberger/eHive" target = "_blank">eHive</a></h3>
        Open-source connected beehive. Created during summer 2017 at CRI Labs Paris.
      </p>
      <p>
        <h3>> <a href="https://github.com/rweinberger/axo-public" target = "_blank">axo public site</a></h3>
        Public site for MIT Alpha Chi Omega.
      </p>
      <p>
        <h3>> <a href="https://github.com/caitlincassidy/axo" target = "_blank">axo sisters-only site</a></h3>
        Private site for MIT Alpha Chi Omega.
      </p>
      <p>
        <h3>> <a href="https://github.com/rweinberger/personal_site" target = "_blank">this site</a></h3>
        My personal site.
      </p>
      <p>
        <h3>> <a href="https://youtube.com/watch?v=sTp3U9RqBlY" target = "_blank">violin from scratch</a></h3>
        Video documenting the process of building a violin from scratch.
      </p>
    </div>
  </div>
</div>

<div id='edu' class='modal hidden'>
  <div id='eOver' class='overlay'></div>
  <div class='popup edu'>
    <div class='close' id='closeeducation'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>education</div><hr>
      <table style="width:100%, border-spacing: 10px">
        <tr>
          <td width= "10%"><small>2015-2019</small></td>
          <td><strong><strong>Massachusetts Institute of</strong></strong></td>
        </tr>
        <tr>
          <td><small>Cambridge,</small></td>
          <td><strong><strong>Technology</strong></strong></td>
        </tr>
        <tr>
          <td><small>MA</small></td>
          <td>Bachelor's Degree,</td>
        </tr>
        <tr>
          <td></td>
          <td>Computer Science</td>
        </tr>
        <tr>
          <td></td><td>(Course 6-3)</td>
        </tr>
        <tr><td></td><td></td></tr><tr><td></td><td></td></tr><tr><td></td><td></td></tr>
        <tr>
          <td><small>2011-2015</small></td>
          <td><strong><strong>Hathaway Brown School</strong></strong></td>
        </tr>
        <tr>
          <td><small>Shaker Heights, OH</small></td>
          <td>High School</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id='con' class='modal hidden'>
  <div id='cOver' class='overlay'></div>
  <div class='popup con'>
    <div class='close' id='closecontact'>&#10005;</div>
    <div class='pContent'>
      <div class='title'>contact</div><hr>
      <div id='contactLinks'>
        <a href="https://github.com/rweinberger" target="_blank">
          <img src="/images/github.png" class = 'contactIcon'>
        </a>
        
        <a href="https://www.linkedin.com/in/rebecca-weinberger-a40934b0/" target="_blank">
          <img src="/images/linkedin.png" class = 'contactIcon'>
        </a>

        <a href="mailto:rew@mit.edu" >
          <img src="/images/email.png" class = 'contactIcon'>
        </a>
        <p>Rebecca Weinberger <br> 478 Commonwealth Avenue <br> Boston, MA 02215</p>
      </div>
    </div>
  </div>
</div>
