<div id='about' class='modal hidden'>
  <div id='overlay'></div>
  <div id='popup'>
    about
    <div class='close'>close</div>
  </div>
</div>

<div id='projects' class='modal hidden'>
  <div id='overlay'></div>
  <div id='popup'>
    projects
    <div class='close'>close</div>
  </div>
</div>

<div id='education' class='modal hidden'>
  <div id='overlay'></div>
  <div id='popup'>
    education
    <div class='close'>close</div>
  </div>
</div>

<div id='contact' class='modal hidden'>
  <div id='overlay'></div>
  <div id='popup'>
    contact
    <div class='close'>close</div>
  </div>
</div>