<div id="hello" class="section-content">
    welcome! drag the cube to navigate
</div>

<div id="about" class="section-content">
    this is the about page
</div>

<div id="projects" class="section-content">

</div>

<div id="contact" class="section-content">
    <a href="https://github.com/rweinberger" target="_blank">
        <img src="/images/icons/github_w.png" class = 'contactIcon'>
    </a>
    
    <a href="https://www.linkedin.com/in/rebecca-weinberger-a40934b0/" target="_blank">
        <img src="/images/icons/linkedin_w.png" class = 'contactIcon'>
    </a>

    <a href="mailto:rew@mit.edu" >
        <img src="/images/icons/email_w.png" class = 'contactIcon'>
    </a>
</div>

<div id="blank" class="section-content">

</div>

<div id="experience" class="section-content">

</div>