<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rebecca Weinberger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div id='left'>
      <div id='timezone'></div>
      <div id='name-title' class="column-title">rebecca weinberger</div>
      {{> modals }}
      <div id='spin'>drag to spin the cube!</div>
      <a id='copyright' href='https://github.com/rweinberger/personal_site' target="_blank">&#169; 2017 rew</a>
    </div>

    <div id='right'>
      <div id='section-title' class='column-title'>about</div>
      <div id='section-content'>blah blah</div>
    </div>

    <script src="/scripts/libs/three.min.js"></script>
    <script src="/scripts/libs/Tween.js"></script>
    <script src="/scripts/cube.js"></script>
    <script src="/scripts/render.js"></script>
  </body>
</html>
