html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0px;
  overflow: hidden;
}

#title {
  position: absolute;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 6px;
  width: 100%;
  text-align: center;
  top: 18%;
  color: #b5b4b4;
}

.hidden{
  display: none
}

#modal {
  position: absolute;
  width: 100%;
  height: 100%
}

#overlay {
  position: absolute;
  background-color:#000;
  opacity: 0.5;
  width:100%;
  height: 100%;
  z-index: 1;
}

#popup {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color:#fff;
  width:30%;
  height: 30%;
  top: 20%;
  z-index: 2;
}