html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0px;
  overflow: hidden;
  font-weight: 200;
  color: #6b717c;
}

hr {
  border:none;
  height: 1px;
  background-color: #ccc
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 10%;
}
::-webkit-scrollbar-thumb {
  /*border-radius: 4px;*/
  background-color: #adadad;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

a {
  text-decoration: none;
}
/****************************************************************/
/***********************---GENERAL---****************************/
/****************************************************************/
.title {
  font-size: 30px;
  letter-spacing: 3px;
  /*color: #848c9b;*/
  font-weight: 600;
}

#title {
  font-weight: 600;
  position: absolute;
  font-size: 40px;
  letter-spacing: 7px;
  width: 100%;
  text-align: center;
  top: 12%;
  color: #7C6C77;
  text-shadow: 3px 3px #abbc66;
  /*border: solid 3px #e2aa52;*/
}

#spin {
  position: absolute;
  font-size: 16px;
  width: 100%;
  text-align: center;
  top: 23%;
  color: #7C6C77;
}

#copyright {
  position: absolute;
  font-size: 10px;
  width: 100%;
  text-align: center;
  bottom: 10px;
  color: #d2d9e5;
}

.hidden{
  display: none
}

/**************************************************************/
/***********************---MODAL---****************************/
/**************************************************************/

.modal {
  position: absolute;
  width: 100%;
  height: 100%
}

.overlay {
  pointer-events: none;
  position: absolute;
  background-color:#6b717e;
  opacity: 0;
  width:100%;
  height: 100%;
  z-index: 1;
}

.popup {
  position: relative;
  margin: auto;
  background-color: #fff;
  height: 30%;
  top: 34%;
  z-index: 2;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.close {
  position: absolute;
  top: 10px;
  right: 13px;
  z-index: 3
}

.close:hover {
  opacity: 0.2;
  cursor: pointer;
}

.pContent {
  position: relative;
  padding: 15px;
  font-size: 14px;
}

/*****--specific modals--*****/

.abt, .edu{
  background-color: #7C6C77;
  color: #ccc;
}
.abt .title, .edu .title {
  color: #cadb87;
}

.con, .proj{
  background-color: #cadb87;
  color: #787878;
}

.con .title, .proj .title {
  color: #7C6C77;
}

.con hr, .proj hr {
  background-color: #787878;
}

/*****--contact---*****/
.contactIcon {
  width: 50px;
  padding: 7px;
}

.contactIcon:hover {
  opacity: 0.5;
}

#contactLinks {
  padding-top: 15px;
  text-align: center;
}

@media screen and (max-height: 1000px) {
  .popup {
    width: 33vh;
  }
}