body {
  font-family: Helvetica;
  margin: 0px;
  overflow: hidden;
}

#title {
  position: absolute;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 6px;
  width: 100%;
  text-align: center;
  top: 18%;
  color: #b5b4b4;
}

.hidden{
  display: none
}